#requirements taken from http://bitbucket.org/chris1610/satchmo/raw/tip/scripts/requirements.txt
--requirement=pinax-requirements.txt
pycrypto
http://www.satchmoproject.com/snapshots/trml2pdf-1.2.tar.gz
django-registration
PyYAML
#PIL==1.1.6
http://effbot.org/downloads/Imaging-1.1.6.tar.gz
http://www.reportlab.org/ftp/ReportLab_2_3.tar.gz
-e hg+http://bitbucket.org/bkroeze/django-threaded-multihost/#egg=django-threaded-multihost
-e hg+http://bitbucket.org/bkroeze/django-caching-app-plugins/#egg=django-caching-app-plugins
-e hg+http://bitbucket.org/bkroeze/django-signals-ahoy/#egg=django-signals-ahoy
-e hg+https://sorl-thumbnail.googlecode.com/hg/#egg=sorl-thumbnail
-e hg+http://bitbucket.org/chris1610/satchmo/#egg=satchmo

